<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body th:fragment="copyParam (boards, startNum, query, lastNum, endNum)">
    <div>
      <div>
        <table class="table">
          <thead>
          <tr>
            <th style="width: 8%">#</th>
            <th style="width: 69%">제목</th>
            <th style="width: 13%">글쓴이</th>
            <th style="width: 10%">조회수</th>
          </tr>
          </thead>
          <tbody th:with="startId=${(lastNum)}">
          <tr th:if="${board.id>=startNum and board.id<= endNum}" th:each="board : ${boards}" class="contenttr">
            <td th:text="${board.id}">#</td>
            <td style="text-align: left">
              <a th:href="@{|/board/list/${board.id}|}" th:text="${board.title}">제목</a>
              <span th:text="|[${board.commentCount}]|">댓글수</span>
            </td>
            <td th:text="${board.writeId}">글쓴이</td>
            <td th:text="${board.hit}">조회수</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
                  th:onclick="|location.href='@{/board/write}'|"
                  onclick="location.href='addForm.html'" type="button">글쓰기</button>
        </div>
      </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li th:if="${query==1}" class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li th:unless="${query==1}" class="page-item">
            <a class="page-link" th:href="@{/board/list(p=${query}-1)}" href="#" tabindex="-1">Previous</a>
          </li>
          <!--    <li class="page-item active"><a  class="page-link" th:text="${param.p}" href="/board/list?p=1">1</a></li>-->
          <th:block th:each="num: ${#numbers.sequence(1,lastNum)}">
            <li th:if="${num==query}" class="page-item active">
              <a th:text="${num}" th:href="@{/board/list(p=${num})}" class="page-link" href="#"></a>
            </li>
            <li th:unless="${num==query}" class="page-item">
              <a th:text="${num}" th:href="@{/board/list(p=${num})}" class="page-link" href="#"></a>
            </li>
          </th:block>
          <li th:if="${query==lastNum}" class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
          <li th:unless="${query==lastNum}" class="page-item">
            <a class="page-link" th:href="@{/board/list(p=${query}+1)}"  href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>