<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/script/boardScript.js}" src="/static/script/boardScript.js"></script>
  <meta charset="utf-8">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="" th:href="@{/css/custom.css}" rel="stylesheet"/>
  <style>
    th, td {
      text-align: center;
      vertical-align: middle;
    }
    .contenttr:hover{
      background-color: #e7e7e7;

    }
    a{
      color: black;
      text-decoration: none;
    }
    a:hover{
      color: #262626;
      text-decoration: underline;
    }
    .bi-trash:hover{
      cursor: pointer;
    }
    .hidden {
      display: none;
      line-height: 40px;
      opacity: 0;
    }

    .appear {
      animation: fade-in 1s;
      animation-fill-mode: forwards;
      display: table-row;
    }

    .disappear {
      animation: fade-out 1s;
      animation-fill-mode: forwards;
      display: none;
    }

    @keyframes fade-in {
      from {
        line-height: 40px;
        opacity: 0.5;
      }
      to {
        line-height:50px;
        opacity: 1;
      }
    }

    @keyframes fade-out {
      from {
        line-height: 50px;
        opacity: 1;

      }
      to {
        line-height: 40px;
        opacity: 0;
      }
    }
  </style>
</head>
<body>
<div class="container" style="max-width: 1100px; min-width: 600px">
  <br/>
  <div th:replace="fragment/topFragment :: head"></div>

  <div class="py-5 text-center">
    <h2><a style="text-decoration: none" th:href="@{/board/list}">게시판</a></h2>
  </div>

  <hr class="my-4">
  <div class="text-body">
    <h4 style="" th:text="${board.title}">제목</h4>
    <div style="float:left;">
      <span th:text="${board.writeId}">글쓴이 </span>
      <span style="font-weight: bolder">  |  </span>
      <span th:text="${board.writeDate}">날짜 </span>
    </div>
    <div  style="float: right;">
      <span style="font-weight: bolder">조회수 </span>
      <span th:text="${board.hit}">조회수</span>
    </div>
  </div>
  <br>
  <hr class="my-4">
  <br>
<!--  <img th:each="imageFile : ${board.getImageFiles()}" th:src="|${imageFile.getStoreFileName()}|">-->
  <div th:each="file : ${files}">
    <img th:src="|/board/images/${file.getStoreFileName()}|" class="img-fluid" id="boardImage">
    <br/>
    <br/>
  </div>
  <p th:text="${board.content}"></p>
  <br>
  <br>
  <div id="recommendDiv">
    <div id="like" class="input-group mb-3" style="max-width: 250px;margin-left: auto; margin-right: auto">
      <span th:if="${loginUser != null}" class="btn-secondary input-group-text bi bi-hand-thumbs-up" th:id="likeButton" onclick="addRecommend(this)"></span>
      <span th:unless="${loginUser != null}" class="btn-secondary input-group-text bi bi-hand-thumbs-up" th:id="likeButton" onclick="alert('추천은 로그인한 회원만 가능합니다.')"></span>
      <label th:for="likeButton" class="form-control" style="text-align: center" th:text="${recommends.size()}">추천수</label>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div>
    <hr class="my-xl-4"/>
    <div class="col" th:if="${loginUser != null && loginUser.userId == board.writeId}">
      <button class="btn btn-primary float-xl-start" type="button" th:onclick="|location.href='@{/board/edit/}${board.id}'|">글 수정</button>
      <span>   </span>
      <button class="btn btn-primary float-xl-start" type="button" onclick="deleteBoardConfirm()">글 삭제</button>
    </div>
    <div id="commentDiv">
      <table th:if="${comments!=null}" th:with="ddd=1" class="table table-striped ">
        <thead>
        <tr>
          <th style="width: 10%;font-size: 14px;font-weight: bold" th:text="|전체댓글 ${comments.size()+replies.size()}개|">#</th>
          <th style="width: 70%"></th>
          <th style="width: 5%"></th>
          <th style="width: 15%"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="comment : ${comments}">
          <tr>
            <td style="text-align: left" th:text="${comment.cmtWriteId}">댓글 작성자</td>
            <td style="text-align: left;padding-left: 5px; font-size: 17px; cursor: pointer"
                th:text="${comment.content}" th:onclick="|replyForm(${comment.commentId})|">
            </td>
            <td th:if="${loginUser != null && comment.cmtWriteId==loginUser.userId}"
                th:id="${comment.commentId}"
                th:utext="|${commentDeleteIcon}|">
            </td>
            <td th:unless="${loginUser != null && comment.cmtWriteId==loginUser.userId}"> </td>
            <td style="text-align: left;font-size: 14px" th:text="${comment.cmtDate}"></td>
          </tr>
          <tr style="--bs-table-striped-bg: rgba(0,0,0,0);" th:class="|comment${comment.commentId} hidden|">
            <td style="font-weight: bolder"> ㄴ </td>
            <td>
              <input th:id="|replyInput${comment.commentId}|" class="form-control"
                     style="text-align: left;">
            </td>
            <td th:if="${loginUser != null && comment.cmtWriteId==loginUser.userId}"
                th:id="${comment.commentId}"
                th:utext="|${replyDeleteIcon}|">
            </td>
            <td th:unless="${loginUser != null && comment.cmtWriteId==loginUser.userId}"> </td>
            <td>
              <button style="float: left" class="btn btn-primary" id="replyButton"
                      type="button" th:onclick="|addReply(${comment.commentId})|">등록</button>
            </td>
          <tr/>
          <div th:each="reply : ${replies}">
            <tr th:if="${reply.commentId == comment.commentId}">
              <td style="font-size: 14px" th:text="|ㄴ${reply.getRplWriteId}|"> 대댓글 작성자 </td>
              <td style="text-align: left;padding-left: 25px; font-size: 15px" th:text="${reply.content}"></td>
              <td th:if="${loginUser != null && reply.getRplWriteId==loginUser.userId}" th:id="|reply_${reply.rplId}|"
                  th:utext="|${replyDeleteIcon}|">
              </td>
              <td th:unless="${loginUser != null && reply.getRplWriteId==loginUser.userId}"> </td>
              <td style="text-align: left;font-size: 14px" th:text="${reply.getRplDate}"></td>
            </tr>
          </div>
        </div>
        </tbody>
      </table>
      <br/>
      <form action="index.html" th:object="${comment}" th:action method="post">
        <textarea th:field="*{content}" th:errorclass="field-error"
                  class="form-control" placeholder="댓글을 입력하세요"
                  style="height: 120px; margin-bottom: 5px"></textarea>
        <div class="field-error" th:errors="*{content}">에러 메세지</div>
        <div class="col">
          <button class="btn btn-primary float-end" type="button" onclick="addComment()">등록</button>
        </div>
      </form>
    </div>
  <br/>
  <br/>
  <div>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th style="width: 8%">#</th>
          <th style="width: 69%">제목</th>
          <th style="width: 13%">글쓴이</th>
          <th style="width: 10%">조회수</th>
        </tr>
        </thead>
        <tr th:each="n : ${#numbers.sequence((query-1)*15,query*15-1)}" class="contenttr">
          <div th:if="${n<boards.size()}">
            <td th:text="${boards[n].id}">#</td>
            <td style="text-align: left">
              <a th:href="@{|/board/list/${boards[n].id}|}" th:text="${boards[n].title}">제목</a>
              <span th:text="|[${boards[n].commentCount}]|">댓글수</span>
            </td>
            <td th:text="${boards[n].writeId}">글쓴이</td>
            <td th:text="${boards[n].hit}">조회수</td>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary float-end"
                th:onclick="|location.href='@{/board/write}'|"
                onclick="location.href='addForm.html'" type="button">글쓰기</button>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li th:if="${query==1}" class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li th:unless="${query==1}" class="page-item">
        <a class="page-link" th:href="@{/board/list(p=${query}-1)}" href="#" tabindex="-1">Previous</a>
      </li>
      <!--    <li class="page-item active"><a  class="page-link" th:text="${param.p}" href="/board/list?p=1">1</a></li>-->
      <th:block th:each="num: ${#numbers.sequence(1,lastNum)}">
        <li th:if="${num==query}" class="page-item active">
          <a th:text="${num}" th:href="@{/board/list(p=${num})}" class="page-link" href="#"></a>
        </li>
        <li th:unless="${num==query}" class="page-item">
          <a th:text="${num}" th:href="@{/board/list(p=${num})}" class="page-link" href="#"></a>
        </li>
      </th:block>
      <li th:if="${query==lastNum}" class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
      <li th:unless="${query==lastNum}" class="page-item">
        <a class="page-link" th:href="@{/board/list(p=${query}+1)}"  href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
</body>
<script th:inline="javascript">
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");
  var boardId = /*[[${board.id}]]*/;
  var loginUserId = /*[[${loginUser.userId}]]*/;
</script>
</html>