<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="" th:href="@{/css/custom.css}" rel="stylesheet"/>
  <style>
    .container {
      max-width: 1100px;
      min-width: 800px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>글쓰기</h2>
  </div>
  <form action="item.html" th:object="${board}" enctype="multipart/form-data" th:action method="post">
    <div>
      <input type="text" th:field="*{title}" th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요" maxlength=40/>
      <div class="field-error" th:errors="*{title}">
        제목 공백
      </div>
      <br/>
      <textarea th:field="*{content}" th:errorclass="field-error" id="content" name="content" class="form-control" placeholder="내용을 입력하세요" style="height: 500px"></textarea>
      <div class="field-error" th:errors="*{content}">
        내용 공백
      </div>
      <hr class="my-4">
      <input type="file" multiple="multiple" name="imageFiles">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">글쓰기</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/board/list}'|" type="button">취소</button>
      </div>
    </div>
  </form>
  <form ></form>
</div> <!-- /container -->
</body>
</html>