<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="" th:href="@{/css/custom.css}" rel="stylesheet"/>
  <style>
    .container {
      max-width: 1100px;
      min-width: 800px;
    }
  </style>
</head>
<body>
<div class="container"  style="max-width: 1100px; min-width: 600px">
  </br>
  <div class="py-5 text-center">
    <h2>글쓰기</h2>
  </div>
  <form action="item.html" th:object="${board}" enctype="multipart/form-data" th:action method="post">
    <div>
      <input type="text" th:field="*{title}" th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요" maxlength=40/>
      <div class="field-error" th:errors="*{title}">
        제목 공백
      </div>
      <br/>
      <textarea th:field="*{content}" th:errorclass="field-error" id="content" name="content" class="form-control" placeholder="내용을 입력하세요" style="height: 500px"></textarea>
      <div class="field-error" th:errors="*{content}">
        내용 공백
      </div>
      <hr class="my-4">
      <label class="w-100 btn btn-primary btn-lg" for="imageFiles">이미지 업로드</label>
      <input type="file" id="imageFiles" multiple="multiple" name="imageFiles" accept="image/*" style="display: none" onchange="previewImage(this, 'previewSpan')">
      <div><br/></div>
      <span id="previewSpan"></span>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">글쓰기</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/board/list}'|" type="button">취소</button>
      </div>
    </div>
  </form>
  <form ></form>
</div> <!-- /container -->
</body>
<script type="text/javascript">
  var fileInfoArr=[];
  function fileRemove(index){
    fileInfoArr.splice(index,1);
    var imgId='#img_span_'+index;
    console.log(imgId);
    $(imgId).remove()
  }
  function previewImage(targetObj, view){
    console.log(fileInfoArr);
    console.log(targetObj.files);

    fileInfoArr = [];
    console.log(fileInfoArr);
    var preview = document.getElementById(view);
    var files = targetObj.files;
    for (var i=0; i<files.length; i++){
      var file = files[i];
      if(!file.type.match('image.*')){
        alert("이미지 파일만 올려주세요.");
        continue;
      }
      fileInfoArr.push(file);
      var span = document.createElement('span');
      span.id="img_span_"+i;
      span.style.width='150px';
      span.style.height='150px';
      span.className='previewBox';
      span.style.position='relative';
      span.style.display='inline-block';
      span.style.margin='5px';
      span.addEventListener('mouseover',function(){
        this.children.item(0).style.opacity='0.6';
        this.children.item(0).style.border='.5px solid black';
        this.children.item(1).style.visibility='visible';
      });

      span.addEventListener('mouseout', function (){
        this.children.item(0).style.opacity='1';
        this.children.item(0).style.border='';
        this.children.item(1).style.visibility='hidden';
      });
      preview.appendChild(span);

      var img = document.createElement("img");
      img.id="addImg_"+i;
      img.file = file;
      img.style.width='inherit';
      img.style.height='inherit';
      img.style.transitionDuration=' .5s';
      img.style.borderRadius='5px';
      span.appendChild(img);

      var p = document.createElement("div");
      p.id="deleteButton_"+i;
      p.style.position='absolute';
      p.style.visibility='hidden';
      p.style.top='4px';
      p.style.left='8px';
      p.style.fontSize='25px';
      p.style.cursor='pointer';
      const idx=i;
      p.onclick=()=>fileRemove(idx);
      p.textContent='X';
      span.appendChild(p);

      var filename = document.createElement("p");
      filename.textContent=file.name;
      filename.style.fontSize='10px';
      filename.style.overflow='hidden';
      filename.style.textOverflow='ellipsis';
      filename.style.whiteSpace='nowrap';
      span.appendChild(filename);

      if(window.FileReader){
        var reader = new FileReader();
        reader.onloadend = (function (aImg) {
          return function(e) {
            aImg.src = e.target.result;
          };
        })(img);
        reader.readAsDataURL(file);
      }
    }
  }
</script>
</html>